.user-header {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f09c4d;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

@media only screen and (min-width: 1024px) {

.user-header {
  width: 30%;
  margin-top: 10vh;
}
}