nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
}
nav span {
  font-family: 'Bungee', sans-serif;
}
#new-tweet-btn{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 1024px) {

}